*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,rgb(31, 30, 30),rgb(58, 57, 57));
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid #555;
   border-radius: 15px;
   padding: 20px;
   box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}
.container form .input-box{
  width: 350px;
  border: none;
  outline: none;
  font-size: 55px;
  padding: 24px;
  box-shadow: 0 3px 15px rgba(84, 84, 84, 0.1);
  text-align: right;
  cursor: pointer;
  background-color: transparent;
  margin: 10px;
  color: #ffffff;
}
.input-box::placeholder{
    color: #ffffff;
}
.boxes{
    display: flex;
    border-radius: 50%;
}
.boxes input{
    flex: 1;
    width: 60px;
    height: 70px;
    background-color: transparent;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 0px 15px rgba(255, 255, 255, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}
#equal{
    background-color: orange;
}
.boxes input.operator{
 color: cadetblue;
}